<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>iCopyInSocial</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>icon@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>Aw</string>
			<key>label</key>
			<string>Enable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>WhatsApp@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>WhatsApp</string>
			<key>label</key>
			<string>WhatsApp  - messages - DoubleTap</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>icon@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>WACustomView</string>
			<key>label</key>
			<string>iCopy view</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>Youtube@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>Youtube</string>
			<key>label</key>
			<string>Youtube  - description - DoubleTap</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>icon@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>YTCustomView</string>
			<key>label</key>
			<string>iCopy view</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>Instagram@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>Instagram</string>
			<key>label</key>
			<string>Instagram - all - LongPress</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>icon@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>INCustomView</string>
			<key>label</key>
			<string>iCopy view</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>Twitter@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>Twitter</string>
			<key>label</key>
			<string>Twitter - DM - OneTap</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>icon@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>TWCustomView</string>
			<key>label</key>
			<string>iCopy view</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>Messages@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>Messages</string>
			<key>label</key>
			<string>Messages - all - OneTap</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>icon@2x.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>key</key>
			<string>MECustomView</string>
			<key>label</key>
			<string>iCopy view</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>apt@2x.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>ApplyChanges</string>
			<key>label</key>
			<string>ApplyChanges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>detailTextLabel</key>
			<string>Hola</string>
			<key>PostNotification</key>
			<string>com.crazymind90.icopyinsocial</string>
			<key>icon</key>
			<string>CrazyiCon@2x.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>CrazyMind</string>
			<key>label</key>
			<string>CrazyMind90</string>
		</dict>
	</array>
	<key>title</key>
	<string>iCopyInSocial</string>
</dict>
</plist>
